@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
	padding: 10px;
	color: #666 !important;
	font-family: 'Roboto Slab', serif !important;
}

div#result p{
	padding:20px;
	background-color: #f2f6f9;
    border: 1px solid #c8dbea;
	font-size: 160%;
	text-align: center;
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
}

div#result p small{
	font-size: 70%;
}

h1 {
	font-family: 'Oleo Script', cursive !important;
	margin: 40px 5px !important;
	color: #3771a3 !important;
}

.fa-green:before
{
	color: #A4C639 ;
}

.fa-red:before
{
	color: #d82a2a ;
}